# Python
venv/
__pycache__/
*.pyc

# Env (VERY IMPORTANT)
.env
ai-service/.env

# Java / Maven
target/
*.class
*.jar

# Logs
*.log
.github/java-upgrade/*/logs/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db